:root {
  --p-color: #505050;
  --main-color: #ff9100;
  --dark-mod-back:#161616;
  --dark-mod-text:rgb(255, 255, 255);

}

body {
  font-family: 'Belanosima', sans-serif;
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
}

.light-mode {
  color-scheme: light;
  background-color: var(--dark-mod-text);
  color: var(--dark-mod-back);
}

.dark-mode {
  /* Don't forget the color-scheme css attribute. This will avoid light scrollbars in dark mode. */
  color-scheme: dark;
  background-color: var(--dark-mod-back) !important;
  color: var(--dark-mod-text) !important;

}


.dark-mode body {
  color-scheme: dark;
  background-color: var(--dark-mod-back) !important;
  color: var(--dark-mod-text) !important;
}

.dark-mode .site-navbar .site-navigation .site-menu .has-children .dropdown{
  background-color: var(--dark-mod-back);
  color: var(--dark-mod-text);
  box-shadow: 0 2px 9px 1px rgb(255 255 255 / 74%);
  border: 1px solid rgb(192, 192, 192);
}

.dark-mode .site-mobile-menu {
  background-color: var(--dark-mod-back);
  color: var(--dark-mod-text);
}

.dark-mode .site-mobile-menu .site-nav-wrap a {
  color: var(--dark-mod-text);
}

.dark-mode .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  color: var(--dark-mod-text) !important;
}